<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="/">
                        <h1 class="text-primary mb-0">TenTech</h1>
                        <p class="text-secondary mb-0">Laptop chính hãng - Dịch vụ tận tâm</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div>
                        <h4 class="text-light mb-3">Đăng ký nhận tin khuyến mãi</h4>
                    </div>
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Nhập số điện thoại của bạn">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Đăng ký ngay</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <h4 class="text-light mb-3" style="margin-left: 2vh;">Theo dõi chúng tôi</h4>
                    </div>
                    <div class="d-flex justify-content-center pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Truy cập nhanh</h4>
                    <a class="btn-link" href="/Home/Warranty">Chính sách bảo hành</a>
                    <a class="btn-link" href="/Home/Privacy">Chính sách bảo mật thông tin</a>
                    <a class="btn-link" href="payment.html">Hướng dẫn thanh toán</a>
                    <a class="btn-link" href="contact.html">Liên hệ</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Liên hệ</h4>
                    <p>Địa chỉ: số 3 Đ. Cầu Giấy, Ngọc Khánh, Đống Đa, Hà Nội</p>
                    <p>Email: TenTech@gmail.com</p>
                    <p>Điện thoại: +0123 4567 8910</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Phương thức thanh toán</h4>
                    <img src="../LaptopFe/img/payment-2.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Cửa hàng TenTech</h4>               
                    <iframe class="ng-tns-c0-0" allowfullscreen="" height="125" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1228608575834!2d105.80064111432421!3d21.02776948599887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab424a50fff9%3A0xbe3a7f3670c0a45f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBHaWFvIHRow7RuZyBW4bqtbiB04bqjaQ!5e0!3m2!1svi!2s!4v1539544397383" style="border-radius:25px;border:0;width:100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


