@{
    ViewData["Title"] = "Đặt hàng";
    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}

        <!-- Checkout Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="mb-4">Thông tin thanh toán</h1>
                <form action="#">
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Họ <sup>*</sup></label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Tên <sup>*</sup></label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Tên công ty</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Địa chỉ giao hàng <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="Số nhà, tên đường">
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Xã/ Phường <sup>*</sup></label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Tỉnh/ Thành phố <sup>*</sup></label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Số điện thoại<sup>*</sup></label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Địa chỉ email<sup>*</sup></label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3"></label>
                                <textarea name="text" class="form-control" spellcheck="false" cols="30" rows="9" placeholder="Ghi chú đơn hàng (Tùy chọn)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sản phẩm</th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Giá</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    <img src="img/vegetable-item-2.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                                </div>
                                            </th>
                                            <td class="py-5">Bông cải tuyệt vời</td>
                                            <td class="py-5 number-text">$69.00</td>
                                            <td class="py-5">2</td>
                                            <td class="py-5 number-text">$138.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    <img src="img/vegetable-item-5.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                                </div>
                                            </th>
                                            <td class="py-5">Khoai tây</td>
                                            <td class="py-5 number-text">$69.00</td>
                                            <td class="py-5">2</td>
                                            <td class="py-5 number-text">$138.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    <img src="img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                                </div>
                                            </th>
                                            <td class="py-5">Chuối lớn</td>
                                            <td class="py-5 number-text">$69.00</td>
                                            <td class="py-5">2</td>
                                            <td class="py-5">$138.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td class="py-0">
                                                <p class="mb-0 text-dark py-3">Tạm tính</p>
                                            </td>
                                            <td class="py-0"></td>
                                            <td class="py-0"></td>
                                            <td class="py-0">
                                                <div class="py-3">
                                                    <p class="mb-0 text-dark" style="font-size: larger;">$135.00</p>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row"></th>
                                            <td class="py-0">
                                                <p class="mb-0 text-dark py-3">Vận chuyển</p>
                                            </td>
                                            <td class="py-0"></td>
                                            <td class="py-0"></td>
                                            <td class="py-0">
                                                <div class="py-3">
                                                    <p class="mb-0 text-dark" style="font-size: larger;">$135.00</p>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row"></th>
                                            <td class="py-0">
                                                <p class="mb-0 text-dark text-uppercase py-3">TỔNG</p>
                                            </td>
                                            <td class="py-0"></td>
                                            <td class="py-0"></td>
                                            <td class="py-0">
                                                <div class="py-3">
                                                    <p class="mb-0 text-dark" style="font-size: larger;">$135.00</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row g-4 text-start py-3" style="margin-left: 15%;">
                                <p class="text-dark fw-bold mb-3" style="font-size: x-large;"><b>Chọn phương thức thanh toán</b></p>

                                <div class="col-12" style="margin-top: 0%; margin-left: 8%;">
                                    <div class="form-check my-2">
                                        <input type="radio" class="form-check-input bg-primary border-0" id="Payment-Transfer" name="PaymentMethod" value="Transfer">
                                        <label class="form-check-label" for="Payment-Transfer">Chuyển khoản ngân hàng</label>
                                    </div>

                                    <div class="form-check my-2">
                                        <input type="radio" class="form-check-input bg-primary border-0" id="Payment-COD" name="PaymentMethod" value="COD">
                                        <label class="form-check-label" for="Payment-COD">Thanh toán khi nhận hàng</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Đặt hàng</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Checkout Page End -->